.baselayout {
    background:white;
    max-width: 100vw;
    display: flex;
    justify-content: center;
  }
  .carparklot{
    background:#3b3b3b;
    position: absolute;
    margin-top: 10px;
    min-width: 90vw;
    min-height:70vh;
    border: solid black 1px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding-left:5px;
    padding-right:5px;
  }
  .carlot1{
    background:#3b3b3b;
    max-width: 90vw;
    max-height: 30vh;
    /* border: solid black 0.5px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .carpark {
    background:#3b3b3b;
    border-radius: 10%;
    color: white;
    text-decoration: blue;
    width: 30vw;
    height: 10vh;
    border: solid white 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 5px;
  }
  .leveldown{
    background: #3b3b3b;
    color: white;
    width: 30vw;
    height: 5vh;
    border: white 3px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-style: solid;
    border-left-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .entrance{
    background: #3b3b3b;
    color: white;
    width: 30vw;
    height: 3vh;
    border: white 3px;
    position: absolute;
    bottom : 0;
    left: 0;
    border-top-style: solid;
    border-right-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .levelup{
    background:#3b3b3b;;
    color:white;
    width: 30vw;
    height:5vh;
    border: white 3px;
    position: absolute;
    top : 0;
    left : 0;
    border-bottom-style: solid;
    border-right-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .exit {
    background:#3b3b3b;
    color:white;
    width:30vw;
    height:3vh;
    border: white 3px;
    position: absolute;
    top : 0;
    right : 0;
    border-bottom-style: solid;
    border-left-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box1{
    background: yellow;
    border: solid 1px;
    width: 5vw;
    height: 3vh;
    position: absolute;
    bottom : 30px;
    left : 0;
  }
  .box2{
    background: red;
    border: solid 1px;
    width: 20vw;
    height: 0.5vh;
    position: absolute;
    bottom : 40px;
    left : 20px;
  }
  .box3{
    background: yellow;
    border: solid 1px;
    width: 5vw;
    height: 3vh;
    position: absolute;
    top : 30px;
    right : 0;
  }
  .box4{
    background: red;
    border: solid 1px;
    width: 20vw;
    height: 0.5vh;
    position: absolute;
    top : 40px;
    right : 20px;
  }
  .rightturn {
    animation: blinker 2s linear infinite;
    color:white;
    font-size: 50px;
    position: absolute;
    bottom : 65px;
    left : 70px;
  }
  .upright {
    animation: blinker 2s linear infinite;
    color:white;
    font-size: 50px;
    transform: rotate(-270deg);
    position: absolute;
    bottom : 95px;
    left: 158px;
  }
  .straight {
    animation: blinker 2s linear infinite;
    color:white;
    font-size: 50px;
    position: absolute;
    bottom : 170px;
    left: 172px;
  }
  .leftturn {
    animation: blinker 2s linear infinite;
    color:white;
    font-size: 50px;
    position: absolute;
    bottom : 260px;
    left : 154px;
  }
  .rightturn2 {
    animation: blinker 2s linear infinite;
    color:white;
    font-size: 50px;
    position: absolute;
    bottom : 260px;
    left : 188px;
  }
  .leftturn2 {
    animation: blinker 2s linear infinite;
    color:white;
    font-size: 50px;
    position: absolute;
    bottom : 160px;
    left : 155px;
  }
  .rightturn3 {
    animation: blinker 2s linear infinite;
    color:white;
    font-size: 50px;
    position: absolute;
    bottom : 160px;
    left : 190px;
  }

  .straight2 {
    animation: blinker 2s linear infinite;
    color:white;
    font-size: 40px;
    position: absolute;
    bottom : 250px;
    left: 182px;
  }
  .rightturn4 {
    animation: blinker 2s linear infinite;
    color:white;
    font-size: 50px;
    position: absolute;
    bottom : 350px;
    left : 190px;
  }
  .upright2 {
    animation: blinker 2s linear infinite;
    color:white;
    font-size: 50px;
    transform: rotate(-270deg);
    position: absolute;
    top : 77px;
    right: 60px;
  }
  .Secondfloorentrance {
    background: #3b3b3b;
    color:white;
    width:30vw;
    height:5vh;
    border: white 3px;
    position: absolute;
    top : 0;
    right : 0;
    border-bottom-style: solid;
    border-left-style: solid;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
  }
  .leveldown2{
    background:#3b3b3b;
    color: white;
    width: 30vw;
    height: 5vh;
    border:  white 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top-style: solid;
    border-right-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .downright {
    animation: blinker 2s linear infinite;
    color:white;
    font-size: 50px;
    transform: rotate(-180deg);
    position: absolute;
    top : 70px;
    right: 70px;
  }
  .rightdown {
    animation: blinker 2s linear infinite;
    color:white;
    font-size: 50px;
    transform: rotate(-90deg);
    position: absolute;
    top : 103px;
    right: 150px;
  }
  .downleft {
    animation: blinker 2s linear infinite;
    color:white;
    font-size: 50px;
    transform: rotate(-180deg);
    position: absolute;
    top : 170px;
    left: 158px;
  }
  .downright2 {
    animation: blinker 2s linear infinite;
    color:white;
    font-size: 50px;
    transform: rotate(-180deg);
    position: absolute;
    top : 170px;
    left: 192px;
  }
  .downleft2 {
    animation: blinker 2s linear infinite;
    color: white;
    font-size: 50px;
    transform: rotate(-180deg);
    position: absolute;
    top : 280px;
    left: 158px;
  }
  .down {
    animation: blinker 2s linear infinite;
    color: white;
    font-size: 50px;
    position: absolute;
    top : 190px;
    left: 175px;
  }
  .downright3 {
    animation: blinker 2s linear infinite;
    color:white;
    font-size: 50px;
    transform: rotate(-180deg);
    position: absolute;
    top : 280px;
    left: 193px;
  }

  @keyframes blinker{
    50% {
      opacity: 0;
    }
  }
  .image {
    height: auto;
    width: 45px;
    transform: rotate(90deg);
  }