.Body{
  height: 100%;
  background-image: linear-gradient(purple, blue, black);
}

.MuiOutlinedInput-root {
  position: relative;
  border-radius: 50px;
}

.MuiBottomNavigationAction-root.Mui-selected {
  color: white!important;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.Toastify__toast--success {
  background: #c8a2c8 !important;
  /* background: #482278 !important; */
  /* border-radius: 10px !important; */
  text-align: center;
  min-height:50px !important;
}

.Toastify__toast--error {
  background-color: #ed5858 !important;
  /* border-radius: 10px !important; */
  text-align: center;  
  min-height:50px !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1.5s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinning {
  animation: App-logo-spin infinite 0.1s linear !important;
}

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');